*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 2fr 5fr / 1fr 4fr; 
}

.dashboard {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #14a2e4;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo{
    margin: 10px;
}

.logo img{
    vertical-align: middle;
}

.logo span{
    vertical-align: middle;
}


.nav{

}

.site-help{

}

.search-container{
    grid-area: 1 / 2 / 2 / 3;
}

.search-container img{
    height: 25px;
}

.search-container input{
    margin: 10px 20px;
    border-radius: 25px;
    border-style: none;
    background-color: lightgray;
}

.user-status{
    display: flex;
    justify-content: space-between;
}

.user-information{
    align-self: center;
    justify-content: flex-end;
}

.user-bar{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    align-items: center;
}

.welcome{
    display: block;
}

.welcome span{
    font-size: small;
}

.welcome p{
    font-size: large;
}

.buttons button{
    background-color: #14a2e4;
    color: white;
    border-color: white;
    border-radius:  25px;
    padding: 5px 10px;
    border-style: none;
}

.projects {
    grid-area: 3 / 2 / 4 / 3;
}

.nav li {
    align-items: flex-start;
    font-weight: bold;
    margin: 10px 0px;
}

#home {
    list-style-image: url("./assets/icons/home.svg");
    
}

#profile {
    list-style-image: url("./assets/icons/profile.svg")
}

#messages {
    list-style-image: url("./assets/icons/messages.svg")
}

#history {
    list-style-image: url("./assets/icons/history.svg")
}

#tasks {
    list-style-image: url("./assets/icons/tasks.svg");
}

#communities {
    list-style-image: url("./assets/icons/communities.svg");
}

#settings {
    list-style-image: url("./assets/icons/settings.svg");
}

#support {
    list-style-image: url("./assets/icons/help.svg");
}

#privacy {
    list-style-image: url("./assets/icons/privacy.svg");
}

